// Fonts
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap|Molle:400i');

// Sass Components
@import "base/index";

body {
  width: 100%;
}

h3 {
  font-size: 2em;
  font-variant: small-caps;
  font-family: $stack-cabin;
  padding: 2em;
}

h3.signature {
  font-family: $stack-molle;
  font-variant: normal;
  text-align: right;
}

h3.title {
  padding: .5em;
  @extend %centered;
}

p {
  padding: 1.5em;
}

span {
  color: $madder;
}

.case-study {
  @extend %block;
  width: 55%;
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.contact {
  @extend %centered;
}

.container {
  display: flex-inline;
}

.content {
  border: 8px solid $black;
  @extend %block;
  width: 600px;
}

.credentials {
  @extend %block;
  padding-bottom: 1em;
  width: 45%;
}

.exit {
  @extend %block;
  width: 30px;
}

.grow {
  width: 50px;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.icon {
  margin: 1em;
  width: 3em;
}

.image {
  width: 90%;
}

.intro {
  @extend %centered;
  border-bottom: 1px solid $black;
  background-color: $white;
  height: 30%;
}

.label {
  @extend %centered;
  background: $white;
  background-image: url('#{$path-img}/black-bubbles.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  border-bottom: 2px solid $black;
  border-top: 2px solid $black;
  a {
    color: $white;
  }
  h3 {
    color: $black;
  }
}

.margin {
  margin-bottom: 3em;
}

.name {
  color: $black;
}

.about-me {
  @extend %block;
  padding: 2em;
  width: 60%;
}

.savvy {
  @extend %block;
  padding: 1em;
  width: 60%;
}

.social {
  margin: 1.3em .2em;
  width: 1.2em;
}

.plus-minus {
  padding: 1em;
  li a {
    color: $black;
    font-size: 2em;
  }
}

.plus-minus li a {
  color: $black;
  font-size: 2em;
}

.vertical-text {
  color: $madder;
  display: inline-block;
  font-family: $stack-cabin;
  transform: rotate(-90deg);
}

// Columns
.columns {
  @extend %flex;
}

.column {
  width: 200px;
  border: 5px solid $white;
  background: $black;
  flex: .2;
}

.mainColumn {
  flex: 2;
}

// Gallery
.box {
  width: 25%;
  height: 500px;
  flex-grow: 1;
}

.gallery {
  @extend %flex;
  // flex-basis: 0;
  flex-wrap: wrap;
  -webkit-filter: grayscale(100%);
  &:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0%);
  }
}

#imageFashion,
#imageExodus,
#imageTerraForma,
#imageFeralBlack,
#imageFeralWhite,
#imageTumblr,
#imageAdidas,
#imageMobile,
#imageAesthetic,
#imageInsta,
#imageSpecialist,
#imageSpecialistBlack {
  @extend %align;
  @extend %image;
  @extend %opacity;
  &:hover {
    opacity: 1;
  }
}

#imageFashion {
  background-image: url('#{$path-img}/aesthetic-home.png');
}

#imageExodus {
  background-image: url('#{$path-img}/exodus-home.png');
}

#imageTerraForma {
  background-image: url('#{$path-img}/terra-forma.png');
}

#imageFeralBlack {
  background-image: url('#{$path-img}/feral-black.png');
}

#imageFeralWhite {
  background-image: url('#{$path-img}/feral-white.png');
}

#imageTumblr {
  background-image: url('#{$path-img}/tumblr.png');
}

#imageAdidas {
  background-image: url('#{$path-img}/adidas.png');
}

#imageMobile {
  background-image: url('#{$path-img}/mobile.png');
}

#imageAesthetic {
  background-image: url('#{$path-img}/fashion-mock-up.png');
}

#imageInsta {
  background-image: url('#{$path-img}/ig.png');
}

#imageSpecialist {
  background-image: url('#{$path-img}/hybrid-white.png');
}

#imageSpecialistBlack {
  background-image: url('#{$path-img}/hybrid-cloud-specialist.png');
}

// Media Queries
@media only screen and
(min-width: 1024px)
and (max-width: 1025px) {
  .social {
    margin: 18em .2em;
    width: 1.2em;
  }
}

@media only screen and
(min-width: 667px)
and (max-width: 768px) {
  .label {
    background-image: url('#{$path-img}/hidden.svg');
  }

  .social {
    margin: 9em .2em;
    width: 1.2em;
  }
  //Modal//
  .ui.modal {
    width: 88%;
  }
}

@media only screen
and (max-width: 415px) {
  .case-study {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .content {
    border: 10px solid $black;
    display: block;
    margin: 0 auto;
    width: 290px;
  }

  .gallery .box {
    width: 100%;
    height: 500px;
    background-size: contain;
  }

  .label {
    background-image: url('#{$path-img}/hidden.svg');
  }

  .menu li {
    padding: 3em;
  }

  .modal {
    width: 100%;
  }

  .name {
    font-size: 1.6em;
  }

  .wrapper {
    margin: 0 auto;
  }
}
