h4 {
  color: $black;
  font-family: $stack-dosis;
  font-variant: small-caps;
  font-size: 2em;
  padding: .5em;
  text-align: center;
}

h5 {
  font-family: $stack-dosis;
  font-variant: small-caps;
  text-align: center;
}

.modal {
  display: none;
  .image {
    display: block;
    margin: 0 auto;
    // padding-top: 1em;
    width: 100%;
  }
}

.create {
  width: 100%;
  height: 100%;
}
