// Colors
$black: #000000;
$white: #FFFFFF;
$silver: #BBC8CA;
$taupe: #795663;
$party: #FF5C77;
$madder: #E71D36;
$blue: #4A90E2;

// Fonts
$stack-yanone: 'Yanone Kaffeesatz', sans-serif;
$stack-cormorant: 'Cormorant Garamond', serif;
$stack-molle: 'Molle', cursive;
$stack-lora: 'Lora', serif;
$stack-cookie: 'Cookie', cursive;
$stack-dosis: 'Dosis', sans-serif;

// Asset Paths
$path-img: '../img';
